*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--bg-color:#303741;
--danger-color:#56CEF4;
--primary-color:#26BD5A;
--secomd-bg-color:#F5F5F5;
}
.wrapper_flex{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: 50px 1fr 50px;
    font-size: 20px;
    background-color: var(--bg-color);
}


.logo__img{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

.promo_wrapper{
    
    background-image: url("img/main.jpg");
    height: 600px;
    background-size: cover;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    display:grid;
    margin-top: 3px;
}
.promo__wrapper_h1{
    height: 200px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.promo__wrapper_btn{
   grid-column: 1/4;
   display: flex;
   justify-content: center;
}
.promo__wrapper_btn button{
    background-color: var(--primary-color);
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
}
.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;
    height: 200px;
    
}
.social_img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.info{
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--bg-color);
    

}

.blog{
    background-color: white;
    border: 1px solid var(--bg-color);
    padding: 25px 50px 25px 50px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info_p{
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;

}


.grid_wrapper{
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.card_img{
    height: 120px;
    width: 120px;
    padding: 10px;
}

.card_1{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-color: white;
    border: 1px solid var(--bg-color);
    
}

.card__msk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}
.card__eu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}
.card__africa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}
.card__NAmerica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}
.card__SAmerica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}
.card__australia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:30px;
    background-color: white;
    border: 1px solid var(--bg-color); 
}


.card_p{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_hr{
    border: 2px solid var(--primary-color);
    width: 100px;
}

 .footer{
    height: 250px;  
    /* background: rgb(13,36,0);
    background: linear-gradient(90deg, rgba(13,36,0,1) 0%, rgba(46,121,9,1) 44%, rgba(0,255,91,1) 100%); */
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
} 

.logo__footer{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contacts
{
    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
    line-height: 1,5em;

}
.cont_h3{
    color:red;
}
.cont_h4{
    color: red;
}

.social__img
{
    height: 50px;
    width: 50px;
}

.nav_buttom {
    text-align: end;
    width: 400px;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
}
.nav_buttom li{
    list-style-type: none;
}

.nav_buttom a {
    text-decoration: none;
    color: white;
}

