*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--bg-color:#303741;
--danger-color:#56CEF4;
--primary-color:#26BD5A;
--secomd-bg-color:#F5F5F5;
}
.header_fixed{
    position: fixed;
    top: 10%;
    left: 1%;
    width: 100px;
    height: 120px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: white;
    padding: 10px;
}
.header_fixed__a{
    text-decoration: none;
    color: inherit;
    display: block;
}
.wrapper_flex{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: 50px 1fr 50px;
    font-size: 20px;
    background-color: var(--bg-color);
}


.logo__img{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

.wrapper_form{

    border: 2px solid black;
    position: fixed;
    left: 650px;
    width: 300px;
    top: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
}
.wrapper_form form{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.wrapper_form form input{
    font-size: 20px;
    margin-bottom: 5px;
}
.wrapper_form form button[type='submit']{
    width: 90px;
    align-self: flex-end;
}

.promo_wrapper{
    position: relative;
    background-image: url("img/main.jpg");
    height: 600px;
    background-size: cover;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    display:grid;
    margin-top: 3px;
}


.promo__wrapper_h1{
    height: 200px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.promo__wrapper_btn{
   grid-column: 1/4;
   display: flex;
   justify-content: center;
}
.promo__wrapper_btn button{
    background-color: var(--primary-color);
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
}
.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;
    height: 200px;
    
}
.social_img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.info{
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--bg-color);
    

}

.blog{
    background-color: white;
    border: 1px solid var(--bg-color);
    padding: 25px 50px 25px 50px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info_p{
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;

}
.card__ul li{
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}
.card__ul li:nth-child(1)::before{
    content: ' ✈️ ';
}
.card__ul li:nth-child(2)::before{
    content: ' 🧳 ';
}
.card__ul li:nth-child(3)::before{
    content: ' 🕺 ';
}
.card__ul li:nth-child(4)::before{
    content: ' ☂️ ';
}


.cards_wrapper{
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 800px;
    grid-template-columns: repeat(3, 1fr);
    border-left: 0.5px solid black;
    border-right: 1px solid black;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-color: white;
    border: 1px solid var(--bg-color);
}
.card__img{
    height: 120px;
    padding: 10px;
}
.card__p{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 130px;
}

.card__line{
    border: 2px solid var(--primary-color);
    width: 100px;
    margin: 20px 0;
}

 .footer{
    height: 250px;  
    background: radial-gradient(blue, black);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 1200px;
    position: relative;
} 
.cookie_wrapper{
    width: 1200px;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    
}
.cookie_wrapper__p{
    font-size: 40px;
    padding: 10px;
    border: 2px solid black;
    background-color:var(--bg-color);
    color: var(--danger-color);
}
.cookie_wrapper__button{
    width: 120px;
    height: 50px;
    font-size: 18px;
    padding: 5px;
}


.footer__logo{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contacts
{
    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
    line-height: 1,5em;

}
.cont_h3{
    color:red;
}
.cont_h4{
    color: red;
}

.footer__social{
    width: 230px;
    display: flex;
    justify-content: space-between;
}
.social__img
{
    height: 50px;
    width: 50px;
}

.footer__nav{
    text-align: end;
    width: 400px;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
}
.footer__nav li{
    list-style-type: none;
}

.footer__nav a {
    text-decoration: none;
    color: white;
}

