.card__ul li{
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}
.card__ul li:nth-child(1)::before{
    content: ' 🎷 ';
}
.card__ul li:nth-child(2)::before{
    content: ' 🏠 ';
}
.card__ul li:nth-child(3)::before{
    content: ' ✈️ ';
}
.card__ul li:nth-child(4)::before{
    content: ' 🏝️ ';
}
.cards__wrapper{
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}


.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    background-color: white;
    border: 1px solid var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    
}
.card__img{
    height: 120px;
    padding: 10px;
}


.card__line{
    border: 2px solid var(--primary-color);
    width: 100px;
    margin: 20px 0;
}
