.promo_wrapper{
    
    background-image: url("img/main.jpg");
    height: 600px;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    display:grid;
    margin-top: 3px;
}
.promo__wrapper_h1{
    height: 200px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    
    
}
.promo__wrapper_btn{
   grid-column: 1/4;
   display: flex;
   justify-content: center;
}

.promo__wrapper_btn button{
    height: 60px;
    width: 200px;
    font-size: 30px;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    margin: auto;
    border-radius: 10px;
    color: white;
    font-family: 'Amatic SC', cursive;
}
.social{
    display: flex;
    align-items: flex-end;
   grid-column:3/3;
   justify-content: center;
    
    
}
.social_img{
    height: 60px;
    width: 60px;
    padding: 10px;
    
}